### Used Car(Toyota) data analysis for maching learning with python

#### References:
dataset source: https://www.kaggle.com/aishwaryamuthukumar/cars-dataset-audi-bmw-ford-hyundai-skoda-vw

#### import required libraries

In [63]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

#### Load data

In [64]:
df = pd.read_csv("toyota.csv")

display(df.head())
display(df.tail())
print(df.shape)

   model  year  price transmission  mileage fuelType   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  36.2         2.0

,model,year,price,transmission,mileage,fuelType,mpg,engineSize
6733,IQ,2011,5500,Automatic,30000,Petrol,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,50.4,1.3

(6738, 8)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6738 entries, 0 to 6737
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         6738 non-null   object
 1   year          6738 non-null   int64
 2   price         6738 non-null   int64
 3   transmission  6738 non-null   object
 4   mileage       6738 non-null   int64
 5   fuelType      6738 non-null   object
 6   mpg           6738 non-null   float64
 7   engineSize    6738 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 421.2+ KB

In [66]:
df.describe()

              year         price        mileage          mpg   engineSize
count  6738.000000   6738.000000    6738.000000  6738.000000  6738.000000
mean   2016.748145  12522.391066   22857.413921    63.042223     1.471297
std       2.204062   6345.017587   19125.464147    15.836710     0.436159
min    1998.000000    850.000000       2.000000     2.800000     0.000000
25%    2016.000000   8290.000000    9446.000000    55.400000     1.000000
50%    2017.000000  10795.000000   18513.000000    62.800000     1.500000
75%    2018.000000  14995.000000   31063.750000    69.000000     1.800000
max    2020.000000  59995.000000  174419.000000   235.000000     4.500000

In [67]:
df["model"].value_counts()

 Yaris            2122
 Aygo             1961
 Auris             712
 C-HR              479
 RAV4              473
 Corolla           267
 Prius             232
 Avensis           115
 Verso             114
 Hilux              86
 GT86               73
 Land Cruiser       51
 PROACE VERSO       15
 Supra              12
 Camry              11
 IQ                  8
 Urban Cruiser       4
 Verso-S             3
Name: model, dtype: int64

In [68]:
df["transmission"].value_counts()

Manual       3826
Automatic    2657
Semi-Auto     254
Other           1
Name: transmission, dtype: int64

In [69]:
df["fuelType"].value_counts()

Petrol    4087
Hybrid    2043
Diesel     503
Other      105
Name: fuelType, dtype: int64

#### Separating the features and target variable

In [70]:
features = ['year','mileage', 'engineSize']
target = ['price']

x = df[features]
y = df[target]

print("Shape of x = ", x.shape)
print("Shape of y = ", y.shape)

Shape of x =  (6738, 3)
Shape of y =  (6738, 1)

#### split train and test set

In [71]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(5390, 3) (1348, 3) (5390, 1) (1348, 1)

#### Linear Regression

In [72]:
model = LinearRegression()
model = model.fit(x_train, y_train)

y = m1x1 + m2x2 + m3x3 +m4x4 + c

In [73]:
coefficients = model.coef_
print(coefficients)

[[ 8.53091515e+02 -7.42080602e-02  1.13380117e+04]]

In [74]:
c = model.intercept_
print(c)

[-1722949.17079018]

In [75]:
coef_df = pd.DataFrame({"features": x.columns, 
                       "coefficients": np.squeeze(coefficients)})

display(coef_df)

     features  coefficients
0        year    853.091515
1     mileage     -0.074208
2  engineSize  11338.011738

#### Prediction

In [76]:
y_prd = model.predict(x_test)
print(y_prd)

[[27582.51671811]
 [ 2122.34818917]
 [12188.67648397]
 ...
 [14377.73136225]
 [ 7517.58461566]
 [ 9033.23734053]]

In [77]:
print(y_test)

      price
381   37440
2476   4159
2855  10600
2018   8995
2185  11000
...     ...
4715  10800
5374   7495
1027  10790
2802   9991
3789   8298

[1348 rows x 1 columns]

#### Prediction Error

In [78]:
MAE = mean_absolute_error(y_test, y_prd)
print("MAE = ", MAE)

MSE = mean_squared_error(y_test, y_prd, squared=True)
print("MSE = ", MSE)

RMSE = mean_squared_error(y_test, y_prd, squared=False)
print("RMSE = ", RMSE)

r2 = r2_score(y_test, y_prd)
print("r_squared = ", r2)

MAE =  2289.0578269183125
MSE =  9980266.317690909
RMSE =  3159.155950201083
r_squared =  0.765480696041233